<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- https://www.bootstrapcdn.com/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Weather</title>
</head>

<body>
    <h1>Weather</h1>

    <div id="app">
        <!--ol v-if="weather">
            <li v-for="d in weather.dataseries">{{d}}</li>
        </ol-->
        <ol v-if="weather">
            <li v-for="d in weather.dataseries">
                {{formatter(d.date)}}: {{d.weather}}
                Temp: {{d.temp2m.min}}-{{d.temp2m.max}} celsius
                Wind: {{d.wind10m_max}}m/s</li>
        </ol>

    </div>
    <script src="index.js"></script>
</body>

</html>